.circle-picker{
  padding: 5px;
}

.App {
  text-align: center;
}

.container-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  height: 300px;
}

.App-logo-fast {
  animation: App-logo-spin infinite 1s linear;
  pointer-events: none;
  height: 300px;
}

.App-header {
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
